@use "../custom" as *;
@use "../components/mixins" as *;

.intro {
  padding: 1rem;
  min-height: 30rem;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 425px) {
    flex-direction: column;
  }
  &__info {
    flex: 1;
    position: relative;
    color: $white;
    padding-left: 4rem;
    padding-top: 4rem;
    @include gradient;
    border-radius: 1.2rem;
    @media screen and (max-width: 768px) {
      flex: 0.75;
    }
  }
  &__img {
    position: absolute;
    width: 16rem;
    height: 16rem;
    bottom: 0;
    right: 0;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__title {
    font-size: 3.4rem;
  }
  &__des {
    margin: 1.8rem 0;
    line-height: 1.6;
  }
  &__button {
    margin: 1rem 0;
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-weight: 600;
    width: 14rem;
    margin-right: 1rem;
    transition: transform 0.25s linear;
    &:hover {
      transform: scale(1.04);
    }
  }
  &__artist {
    flex: 0.3;
    min-height: 30rem;
    margin-left: 1rem;
    font-size: 1.6rem;
    color: $white;
    padding: 1rem;
    background-color: $secondary;
    border-radius: 1rem;
    @media screen and (max-width: 425px) {
      margin-left: 0;
      margin-top: 2rem;
    }
    &__list {
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    &__element {
      margin-top: 1.6rem;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__avatar {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      margin: 0 0.2rem;
    }
    &__name {
      font-weight: 600;
    }
    &__number {
      font-size: 1.6rem;
    }
    &__button {
      font-size: 1.2rem;
      button {
        color: $white;
        @include gradient;
        font-weight: 600;
        border: none;
        border-radius: 0.6rem;
        padding: 0.4rem 0.8rem;
        transition: transform 0.2s linear;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    @media screen and (max-width: 768px) {
      flex: 0.4;
    }
  }
}
