@use "../custom" as *;
.display-2 {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  &--intro {
    display: inline-block;
    font-weight: 700;
    color: $white;
    font-family: "Poppins", sans-serif;
  }
  &--description {
    font-size: 0.6rem;
    display: block;
    margin-top: 1.2rem;
    text-transform: none;
    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
      display: inline-block;
    }
  }
}

.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: $primary;
}
.heading-line::after {
  content: "";
  width: 2rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  background-color: $primary;
}
.display-3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 2.6rem;
  &--title {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    background-clip: text;
    background-image: linear-gradient(to right, $primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include media-breakpoint-up(lg) {
      font-size: 1.8rem;
    }
  }
}
.border-right {
  border-right: 0.1rem solid $gray-300;
  height: 100%;
}
.gradient {
  background: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($secondary, 0.95)
  );
}
